---
layout: default
---
%body#top{ "data-offset" => "120", "data-spy" => "scroll", "data-target" => ".navbar" }
  #navbar.navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar.collapsed{ "data-target" => ".nav-collapse", "data-toggle" => "collapse" }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{ href: "/" }
          %img{ alt: "QNNSAFE.TV", src: "/assets/qnnsafe.tv.png", width: 200, height: 49 }
        .nav-collapse.collapse
          %ul#menu-anchors.nav.pull-right
            %li.active
              %a{ href: "#top" } 首页
            %li
              %a{ href: "#portfolio" } 全能形象
            %li
              %a{ href: "#team" } 全能文化
            %li
              %a{ href: "#services" } 安防宣传
            %li
              %a{ href: "#clients" } 全能产品
            %li
              %a{ href: "#connect" } 全能漫画
            %li
              %a{ href: "#contact" } 联系我们
  #myCarousel.carousel.slide{ "data-interval" => "5000", "data-pause" => "hover" }
    .carousel-inner
      .active.item
        .callout.dark-background
          %h1 Thanks for checking out Chameleon
          %p The secret of success is doing something you love, doing it well and being recognized for it.
        %img{ alt: "", src: "/assets/images/slider2s.jpg" }/
      .item
        %img{ alt: "", src: "/assets/images/slider3.gif" }/
    %a.carousel-control.left{ "data-slide" => "prev", href: "#myCarousel" } ‹
    %a.carousel-control.right{ "data-slide" => "next", href: "#myCarousel" } ›
  #portfolio.page
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 全能形象
        %p Take a look at some of the projects we've worked on in the past.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 全能保险柜之天下无贼
              %p Brief project description.
        #project-name-modal.modal.hide.fade
          .modal-header
            %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
            %h3 全能保险柜之天下无贼
          .modal-body
            .row-fluid
              .span12
                %img{ alt: "", src: "/assets/images/project-placeholder.gif" }/
            .row-fluid
              .span8
                %h4 About this project
                %p For this project we were working very closely with the ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl. Mauris feugiat diam laoreet tortor convallis ac pharetra velit sodales. Phasellus at arcu ac nibh tincidunt iaculis. Duis mauris enim, gravida.
              .span4
                %h4 What we did
                %ul
                  %li HTML/CSS coding
                  %li Illustration
                  %li Logo design
            .row-fluid
              .span4.pull-right
                %a{ href: "#" } Visit the website
          .modal-footer
            %a.btn.btn-square{ "data-dismiss" => "modal" } Close
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 保险柜的故事
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 家庭安全守护者
              %p Brief project description.
  #team.page.even
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 全能文化
        %p The awesome people that make up our fantastic team.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work7.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 冠军精神
              %p Brief project description.
        #project-name-modal.modal.hide.fade
          .modal-header
            %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
            %h3 橄榄球精神
          .modal-body
            .row-fluid
              .span12
                %img{ alt: "", src: "/assets/images/project-placeholder.gif" }/
            .row-fluid
              .span8
                %h4 About this project
                %p For this project we were working very closely with the ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl. Mauris feugiat diam laoreet tortor convallis ac pharetra velit sodales. Phasellus at arcu ac nibh tincidunt iaculis. Duis mauris enim, gravida.
              .span4
                %h4 What we did
                %ul
                  %li HTML/CSS coding
                  %li Illustration
                  %li Logo design
            .row-fluid
              .span4.pull-right
                %a{ href: "#" } Visit the website
          .modal-footer
            %a.btn.btn-square{ "data-dismiss" => "modal" } Close
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work2.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 香港锁匠学会参观访问
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 牵手相助贫困小学
              %p Brief project description.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
  #services.page
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 安防宣传
        %p What we can do for your company.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work7.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 家居安全在哪里
              %p Brief project description.
        #project-name-modal.modal.hide.fade
          .modal-header
            %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
            %h3 Project title
          .modal-body
            .row-fluid
              .span12
                %img{ alt: "", src: "/assets/images/project-placeholder.gif" }/
            .row-fluid
              .span8
                %h4 About this project
                %p For this project we were working very closely with the ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl. Mauris feugiat diam laoreet tortor convallis ac pharetra velit sodales. Phasellus at arcu ac nibh tincidunt iaculis. Duis mauris enim, gravida.
              .span4
                %h4 What we did
                %ul
                  %li HTML/CSS coding
                  %li Illustration
                  %li Logo design
            .row-fluid
              .span4.pull-right
                %a{ href: "#" } Visit the website
          .modal-footer
            %a.btn.btn-square{ "data-dismiss" => "modal" } Close
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work2.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 家庭安全守护者
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 一台保险柜的诞生
              %p Brief project description.
  #clients.page.even
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 全能产品
        %p We've helped some of these amazing companies.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        #project-name-modal.modal.hide.fade
          .modal-header
            %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
            %h3 Project title
          .modal-body
            .row-fluid
              .span12
                %img{ alt: "", src: "/assets/images/project-placeholder.gif" }/
            .row-fluid
              .span8
                %h4 About this project
                %p For this project we were working very closely with the ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl. Mauris feugiat diam laoreet tortor convallis ac pharetra velit sodales. Phasellus at arcu ac nibh tincidunt iaculis. Duis mauris enim, gravida.
              .span4
                %h4 What we did
                %ul
                  %li HTML/CSS coding
                  %li Illustration
                  %li Logo design
            .row-fluid
              .span4.pull-right
                %a{ href: "#" } Visit the website
          .modal-footer
            %a.btn.btn-square{ "data-dismiss" => "modal" } Close
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work2.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
  #connect.page
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 全能漫画
        %p Follow us and find out what we're up to.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        #project-name-modal.modal.hide.fade
          .modal-header
            %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
            %h3 Project title
          .modal-body
            .row-fluid
              .span12
                %img{ alt: "", src: "/assets/images/project-placeholder.gif" }/
            .row-fluid
              .span8
                %h4 About this project
                %p For this project we were working very closely with the ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl. Mauris feugiat diam laoreet tortor convallis ac pharetra velit sodales. Phasellus at arcu ac nibh tincidunt iaculis. Duis mauris enim, gravida.
              .span4
                %h4 What we did
                %ul
                  %li HTML/CSS coding
                  %li Illustration
                  %li Logo design
            .row-fluid
              .span4.pull-right
                %a{ href: "#" } Visit the website
          .modal-footer
            %a.btn.btn-square{ "data-dismiss" => "modal" } Close
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
  #contact.page.even
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 联系我们
        %p Let us help you bring your project to life.
      .row
        .span2
          %a{ href: "#" }
            %img.social-icon{ alt: "全能保险柜官方微信", src: "/assets/images/weixin.png", title: "微信" }/
        .span2
          %a{ href: "http://weibo.qnnsafe.com" }
            %img.social-icon{ alt: "全能保险柜官方微博", src: "/assets/images/weibo.png", title: "微博" }/
        .span2
          %a{ href: "http://www.qnnsafe.com" }
            %img.social-icon{ alt: "全能保险柜官网", src: "/assets/images/google-plus-icon.png", title: "全能保险柜官网" }/
        .span2
          %a{ href: "http://www.qnnsafe.com.cn" }
            %img.social-icon{ alt: "全能保险柜加盟网", src: "/assets/images/github-icon.png", title: "全能保险柜加盟网" }/
        .span2
          %a{ href: "#" }
            %img.social-icon{ alt: "全能保险柜天猫旗舰店", src: "/assets/images/pinterest-icon.png", title: "全能保险柜天猫旗舰店" }/
        .span2
          %a{ href: "#" }
            %img.social-icon{ alt: "全能保险柜京东店", src: "/assets/images/jd.png", title: "全能保险柜京东店" }/
  %footer
    .container
      .row
        .span8
          .widget-header
            %h4 全能简介
          %p 　　广东安能保险柜制造有限公司是以从事保险柜（箱）等安防产品为主的现代化企业，公司拥有占地面积33000平方米的现代化厂房，装备了数百台国际著名品牌的数控冲床、折弯机、激光切割机、以及弧焊机器人等设备，并配备了独立的研发中心、检测中心、寿命实验室，具有世界领先的制造设备和工艺流程，产品涉及家用保险柜、文件保密柜、酒店客房保险箱、枪弹柜、金库门等多个系列近300余款产品，年生产规模超过30万台。
        .span4
          .widget-header
            %h4 联系电话
          %ul.footer-list
            %li
              %h5
                总部电话：0757-22308180
              %h5
                全国免费服务热线：400-830-4555
              %h5
                售后服务热线：0757-22308180
              %h5
                总部电话：0757-22308180
              %h5
                总部电话：0757-22308180
              %h5
                总部电话：0757-22308180
    #copyright.container
      .row
        .span12
          %p
            %small &copy; 1999-2013 广东安能保险柜制造有限公司
            %a{ href: "{{ site.www.qnnsafe.tv }}/Sitemap.xml" }Sitemap
            %br
            %small 网站建设维护与优化：
            %a{ href: "http://www.8html.com/" }8HTML
