---
layout: default
---
%body#top{ "data-offset" => "120", "data-spy" => "scroll", "data-target" => ".navbar" }
  #navbar.navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar.collapsed{ "data-target" => ".nav-collapse", "data-toggle" => "collapse" }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{ href: "/" }
          %img{ alt: "QNNSAFE.TV", src: "/assets/qnnsafe.tv.png", width: 200, height: 49 }
        .nav-collapse.collapse
          %ul#menu-anchors.nav.pull-right
            %li.active
              %a{ href: "#top" } 首页
            {% for video in site.videos %}
            %li
              %a{ href: "#" + "{% for v in video[1] %}{% if forloop.first %}{{ v[1] }}{% endif %}{% endfor %}" } {{ video[0] }}
            {% endfor %}
            %li
              %a{ href: "#contact" } 联系我们

  #myCarousel.carousel.slide{ "data-interval" => "5000", "data-pause" => "hover" }
    .carousel-inner
      .active.item
        %img{ alt: "", src: "/assets/billboards/billboard_01.jpg" }/
      .item
        %img{ alt: "", src: "/assets/billboards/billboard_02.jpg" }/
    %a.carousel-control.left{ "data-slide" => "prev", href: "#myCarousel" } ‹
    %a.carousel-control.right{ "data-slide" => "next", href: "#myCarousel" } ›

  {% for video in site.videos %}
  .page{ class: "page{{ forloop.index }} {% cycle 'odd', 'even' %}", id: "{% for v in video[1] %}{% if forloop.first %}{{ v[1] }}{% endif %}{% endfor %}" }
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span {{ video[0] }}
      .row.portfolio-row
        {% for v in video[1] %}{% if forloop.first %}{% else %}
        %a{ "data-toggle" => "modal", "data-name" => "{% if v[1].name %}{{ v[1].name }}{% else %}{{ v[1] }}{% endif %}", href: "#video" }
          %dl.span4.portfolio-item
            %dt
              %img.video_image{ alt: "", src: "{% if v[1].name %}/videos/images/{{ v[1].name }}.jpg{% else %}{% if v[1] %}/videos/images/{{ v[1] }}.jpg{% else %}/assets/images/work1.png{% endif %}{% endif %}" }/
            %dd
              %h3.video_title {{ v[0] }}
              %p.video_desc {{ v[1].desc }}
        {% endif %}{% endfor %}
  {% endfor %}

  #contact.page.even
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 联系我们
      .row
        .span2
          %a{ "data-toggle" => "modal", href: "#weixin-modal" }
            %img.social-icon{ alt: "全能保险柜官方微信", src: "/assets/images/weixin.png", title: "全能保险柜官方微信" }/
        .span2
          %a{ href: "http://weibo.qnnsafe.com", target: "_blank" }
            %img.social-icon{ alt: "全能保险柜官方微博", src: "/assets/images/weibo.png", title: "全能保险柜官方微博" }/
        .span2
          %a{ href: "http://www.qnnsafe.com/", target: "_blank" }
            %img.social-icon{ alt: "全能保险柜官网", src: "/assets/images/qnnsafe.png", title: "全能保险柜官网" }/
        .span2
          %a{ href: "http://www.qnnsafe.com.cn", target: "_blank" }
            %img.social-icon{ alt: "全能保险柜招商加盟网", src: "/assets/images/qnnsafe-zs.png", title: "全能保险柜招商加盟网" }/
        .span2
          %a{ href: "http://qnn.tmall.com/", target: "_blank" }
            %img.social-icon{ alt: "全能保险柜天猫旗舰店", src: "/assets/images/tmall.png", title: "全能保险柜天猫旗舰店" }/
        .span2
          %a{ href: "http://mall.jd.com/index-18613.html", target: "_blank" }
            %img.social-icon{ alt: "全能保险柜京东店", src: "/assets/images/jd.png", title: "全能保险柜京东店" }/

  #weixin-modal.modal.hide.fade
    .modal-header
      %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
      %h3 扫描微信二维码添加全能微信服务号
    .modal-body
      .weixinqrcode
        %img{ src: "/assets/images/weixin_qrcode.png" }
    .modal-footer
      %a.btn.btn-square{ "data-dismiss" => "modal" } 关闭

  #video.modal.hide.fade
    .modal-header
      %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
      %button#video_fullscreen.btn.btn-square{ type: "button" } 全屏
      %h3#video_title
    #video_container.modal-body

  %footer
    .container
      .row
        .span8
          .widget-header
            %h4 全能简介
          %p 　　广东安能保险柜制造有限公司是以从事保险柜（箱）等安防产品为主的现代化企业，公司拥有占地面积33000平方米的现代化厂房，装备了数百台国际著名品牌的数控冲床、折弯机、激光切割机、以及弧焊机器人等设备，并配备了独立的研发中心、检测中心、寿命实验室，具有世界领先的制造设备和工艺流程，产品涉及家用保险柜、文件保密柜、酒店客房保险箱、枪弹柜、金库门等多个系列近300余款产品，年生产规模超过30万台。
        .span4
          .widget-header
            %h4 联系电话
          %ul.footer-list
            %li
              %h5 总部电话：0757-22308180
              %h5 全国免费服务热线：400-830-4555
              %h5 售后服务热线：0757-22308180
              %h5 国内销售部：0757-22308181、0757-22308182
              %h5 酒店工程部：0757-22308196、0757-22308186 
              %h5 出口销售部：0757-22308233、0757-22308234、0757-22308235
              %h5 市场部：0757-22308195
    #copyright.container
      .row
        .span12
          %small
            &copy; 1999-2013 广东安能保险柜制造有限公司
            %a{ href: "{{ site.www.qnnsafe.tv }}/Sitemap.xml" }Sitemap
            %br
            网站建设维护与优化：
            %a{ href: "http://www.8html.com/" }8HTML
