---
layout: default
---
%body#top{ "data-offset" => "120", "data-spy" => "scroll", "data-target" => ".navbar" }
  #navbar.navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar.collapsed{ "data-target" => ".nav-collapse", "data-toggle" => "collapse" }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{ href: "/" }
          %img{ alt: "QNNSAFE.TV", src: "/assets/qnnsafe.tv.png", width: 200, height: 49 }
        .nav-collapse.collapse
          %ul#menu-anchors.nav.pull-right
            %li.active
              %a{ href: "#top" } 首页
            %li
              %a{ href: "#portfolio" } 全能形象
            %li
              %a{ href: "#team" } 全能文化
            %li
              %a{ href: "#services" } 安防宣传
            %li
              %a{ href: "#clients" } 全能产品
            %li
              %a{ href: "#connect" } 全能漫画
            %li
              %a{ href: "#contact" } 联系我们
  #myCarousel.carousel.slide{ "data-interval" => "5000", "data-pause" => "hover" }
    / Carousel items
    .carousel-inner
      .active.item
        .callout.dark-background
          %h1 Thanks for checking out Chameleon
          %p The secret of success is doing something you love, doing it well and being recognized for it.
        %img{ alt: "", src: "/assets/images/slider2s.jpg" }/
      .item
        %img{ alt: "", src: "/assets/images/slider3.gif" }/
    / Carousel nav
    %a.carousel-control.left{ "data-slide" => "prev", href: "#myCarousel" } ‹
    %a.carousel-control.right{ "data-slide" => "next", href: "#myCarousel" } ›
  / PORTFOLIO SECTION
  #portfolio.page
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 全能形象
        %p Take a look at some of the projects we've worked on in the past.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work7.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        #project-name-modal.modal.hide.fade
          .modal-header
            %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
            %h3 Project title
          .modal-body
            .row-fluid
              .span12
                %img{ alt: "", src: "/assets/images/project-placeholder.gif" }/
            .row-fluid
              .span8
                %h4 About this project
                %p For this project we were working very closely with the ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl. Mauris feugiat diam laoreet tortor convallis ac pharetra velit sodales. Phasellus at arcu ac nibh tincidunt iaculis. Duis mauris enim, gravida.
              .span4
                %h4 What we did
                %ul
                  %li HTML/CSS coding
                  %li Illustration
                  %li Logo design
            .row-fluid
              .span4.pull-right
                %a{ href: "#" } Visit the website
          .modal-footer
            %a.btn.btn-square{ "data-dismiss" => "modal" } Close
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work2.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
  / TEAM SECTION
  #team.page.even
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 全能文化
        %p The awesome people that make up our fantastic team.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work7.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        #project-name-modal.modal.hide.fade
          .modal-header
            %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
            %h3 Project title
          .modal-body
            .row-fluid
              .span12
                %img{ alt: "", src: "/assets/images/project-placeholder.gif" }/
            .row-fluid
              .span8
                %h4 About this project
                %p For this project we were working very closely with the ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl. Mauris feugiat diam laoreet tortor convallis ac pharetra velit sodales. Phasellus at arcu ac nibh tincidunt iaculis. Duis mauris enim, gravida.
              .span4
                %h4 What we did
                %ul
                  %li HTML/CSS coding
                  %li Illustration
                  %li Logo design
            .row-fluid
              .span4.pull-right
                %a{ href: "#" } Visit the website
          .modal-footer
            %a.btn.btn-square{ "data-dismiss" => "modal" } Close
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work2.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
  / SERVICES SECTION
  #services.page
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 安防宣传
        %p What we can do for your company.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work7.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        #project-name-modal.modal.hide.fade
          .modal-header
            %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
            %h3 Project title
          .modal-body
            .row-fluid
              .span12
                %img{ alt: "", src: "/assets/images/project-placeholder.gif" }/
            .row-fluid
              .span8
                %h4 About this project
                %p For this project we were working very closely with the ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl. Mauris feugiat diam laoreet tortor convallis ac pharetra velit sodales. Phasellus at arcu ac nibh tincidunt iaculis. Duis mauris enim, gravida.
              .span4
                %h4 What we did
                %ul
                  %li HTML/CSS coding
                  %li Illustration
                  %li Logo design
            .row-fluid
              .span4.pull-right
                %a{ href: "#" } Visit the website
          .modal-footer
            %a.btn.btn-square{ "data-dismiss" => "modal" } Close
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work2.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
  / CLIENT SECTION
  #clients.page.even
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 全能产品
        %p We've helped some of these amazing companies.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work7.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        #project-name-modal.modal.hide.fade
          .modal-header
            %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
            %h3 Project title
          .modal-body
            .row-fluid
              .span12
                %img{ alt: "", src: "/assets/images/project-placeholder.gif" }/
            .row-fluid
              .span8
                %h4 About this project
                %p For this project we were working very closely with the ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl. Mauris feugiat diam laoreet tortor convallis ac pharetra velit sodales. Phasellus at arcu ac nibh tincidunt iaculis. Duis mauris enim, gravida.
              .span4
                %h4 What we did
                %ul
                  %li HTML/CSS coding
                  %li Illustration
                  %li Logo design
            .row-fluid
              .span4.pull-right
                %a{ href: "#" } Visit the website
          .modal-footer
            %a.btn.btn-square{ "data-dismiss" => "modal" } Close
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work2.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
  / SOCIAL MEDIA SECTION
  #connect.page
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 全能漫画
        %p Follow us and find out what we're up to.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work7.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        #project-name-modal.modal.hide.fade
          .modal-header
            %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
            %h3 Project title
          .modal-body
            .row-fluid
              .span12
                %img{ alt: "", src: "/assets/images/project-placeholder.gif" }/
            .row-fluid
              .span8
                %h4 About this project
                %p For this project we were working very closely with the ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl. Mauris feugiat diam laoreet tortor convallis ac pharetra velit sodales. Phasellus at arcu ac nibh tincidunt iaculis. Duis mauris enim, gravida.
              .span4
                %h4 What we did
                %ul
                  %li HTML/CSS coding
                  %li Illustration
                  %li Logo design
            .row-fluid
              .span4.pull-right
                %a{ href: "#" } Visit the website
          .modal-footer
            %a.btn.btn-square{ "data-dismiss" => "modal" } Close
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              / <img src="/assets/images/work2.jpg" alt="">
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
      .row.portfolio-row
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work1.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
        %a{ "data-toggle" => "modal", href: "#project-name-modal" }
          %dl.span4.portfolio-item
            %dt
              %img{ alt: "", src: "/assets/images/work2.png" }/
            %dd
              %h3 Project Title
              %p Brief project description.
  / CONTACT INFO SECTION
  #contact.page.even
    .container
      .page-header
        .page-title
          %a{ href: "#top" }
            %h2
              %span 联系我们
        %p Let us help you bring your project to life.
      .row
        .span2
          %a{ href: "#" }
            %img.social-icon{ alt: "facebook icon", src: "/assets/images/facebook-icon.png", title: "facebook" }/
        .span2
          %a{ href: "#" }
            %img.social-icon{ alt: "twitter icon", src: "/assets/images/twitter-icon.png", title: "twitter" }/
        .span2
          %a{ href: "#" }
            %img.social-icon{ alt: "google plus icon", src: "/assets/images/google-plus-icon.png", title: "google plus" }/
        .span2
          %a{ href: "#" }
            %img.social-icon{ alt: "github icon", src: "/assets/images/github-icon.png", title: "github" }/
        .span2
          %a{ href: "#" }
            %img.social-icon{ alt: "pinterest icon", src: "/assets/images/pinterest-icon.png", title: "pinterest" }/
        .span2
          %a{ href: "#" }
            %img.social-icon{ alt: "dribbble icon", src: "/assets/images/dribbble-icon.png", title: "dribbble" }/
  %footer
    .container
      .row
        .span4
          .widget-header
            %h4 A little about us
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt blandit sapien, et gravida mi tincidunt eu. Sed vitae orci tellus, ac volutpat nulla. Ut interdum hendrerit venenatis. Aenean id tortor libero. Mauris sit amet iaculis nisi. Phasellus gravida lectus purus.
        .span4
          .widget-header
            / Edit js/scripts.js to get your own Twitter feed here
            %h4 Latest tweets
            #twitter-feed
        .span4
          .widget-header
            %h4 Blog posts
          %ul.blog-posts
            %li
              %h5
                Update on our secret project
                %small 12/05/2012
              %p
                Duis mauris enim, gravida in lobortis suscipit, condimentum sit amet lectus. Aenean magna purus, feugiat eget feugiat eu, elementum non nisl.
                %a{ href: "#" } Continue reading
    #copyright.container
      .row
        .span12
          %p
            %small &copy; 1999-2013 广东安能保险柜制造有限公司
            %a{ href: "{{ site.www.qnnsafe.tv }}/Sitemap.xml" }Sitemap
            %br
            %small 网站建设维护与优化：
            %a{ href: "http://www.8html.com/" }8HTML
