/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require font-awesome
 *= require theme
 *= require video-js.min
 */
.vjs-default-skin .vjs-big-play-button {
  left: 50%;
  margin-left: -2.1em;
  top: 50%;
  margin-top: -1.4000000000000001em;
}
.vjs-poster {
  background-color: #000;
}
#video .modal-footer {
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
}
#video .modal-footer button.close {
  margin-top: 17px;
}
#video_fullscreen {
  float: right;
  display: none;
  margin-right: 10px;
}
a, button {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
@media screen and (orientation:landscape) and (max-width: 600px) {
  #video_fullscreen {
    display: block;
  }
}
#myCarousel {
  margin-top: 89px;
}
#myCarousel img {
  width: 100%;
}
